/*body*/
body{
    background-image: url(https://cdn.pixabay.com/photo/2022/05/31/07/01/island-7232868_960_720.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*haut de page*/
/*placement et style de ma bare de navigation*/
#hautdepage ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
#hautdepage ul li{
    padding: 0 10px;
    font-size: 20px;
}
#hautdepage ul li a{
    color: crimson;
    text-decoration: none;
    text-transform: capitalize;
}
#hautdepage ul li a:hover{
    text-decoration: underline;
    font-size: 23px;
}
/*bas de page*/
#basdepage ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
#basdepage ul li{
    padding: 0 10px;
    font-size: 20px;
}
#basdepage ul li a{
    color: crimson;
    text-decoration: none;
    text-transform: capitalize;
}
#basdepage ul li a:hover{
    text-decoration: underline;
    font-size: 23px;
}
/*contact*/
#contact ul{
    list-style: none;
}
#contact ul li{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*titres*/
h2{
    font-size: 25px;
    text-transform:capitalize ;
    border:2px solid black;
    width: 50%;
}
h3{
    font-size: 20px;
    text-transform:capitalize ;
    text-decoration: underline;
}
#acc{
    font-size: 30px;
    text-transform:capitalize ;
    display: flex;
    justify-content: center;
}
#np{
    font-size: 30px;
    text-transform:capitalize ;
    border: 2px solid black ;
    width: 25%;
}
/*textes*/
p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
}
/*image*/
#logo{
    display: flex;
    justify-content: center;
}
img{
    height: 150px;
    width: 150px;
}
/*style liste expérience*/
#experience ol li{
    list-style: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*placement contenue avec des container*/
#container{
    display: flex;
}